In [25]:
import pandas as pd

big_data = pd.read_csv(r'./Dataset/big_data.csv')
big_data2 = pd.read_csv(r'./Dataset/big_data2.csv')
big_data.head()

,duration,country,song,artist,album,date,time
0,29381,AU,Up and Away,Envy,The Magic Soup And The Bittersweet Faces,2014-08-26,11:22:33
1,13458,AU,Keep It Down Low,Envy,The Magic Soup And The Bittersweet Faces,2014-08-26,11:22:47
2,3436,AU,No Love In The Club,Envy,The Magic Soup And The Bittersweet Faces,2014-08-26,11:22:49
3,247520,AU,Am I Wrong,Nico & Vinz,Am I Wrong,2014-08-26,11:26:56
4,177352,AU,So Everything,Envy,The Magic Soup And The Bittersweet Faces,2014-08-26,11:29:54

# Basic info about our data
- df.info()
    * info about dataframes (column names, data types, non-null counts)

- df.describe()
    * Summary statistics fro numeric columns

- df.isnull()
    * check for missing values 

- df.duplicated()
    * check for duplicates

- Count unique values
    1) countries
    2) artist

In [4]:
big_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84288 entries, 0 to 84287
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   duration  84288 non-null  int64
 1   country   84288 non-null  object
 2   song      83012 non-null  object
 3   artist    83012 non-null  object
 4   album     83012 non-null  object
 5   date      84288 non-null  object
 6   time      84288 non-null  object
dtypes: int64(1), object(6)
memory usage: 4.5+ MB

In [5]:
big_data.describe()

           duration
count  8.428800e+04
mean   1.637796e+05
std    1.403979e+05
min    0.000000e+00
25%    5.408575e+04
50%    1.982260e+05
75%    2.333370e+05
max    1.457236e+07

# Missing data!

- I found out that I ahve more than 1k missing data for song, artist and album

- we gonna calculate the missing percentage and decide what to do with it:
    - it shows that the percentage is VERY minimal, 1.5% for each column

- I think I'm going to fill the missing values with 'Unknown' instead of deleting it - save it to big_data2
    - check and see in big_data2 if there are missing values
    - if it returns 0 we are good to go!

In [19]:
# check for missing values
missing_values_count = big_data.isnull().sum()
print(missing_values_count)

# view rows with missing values
rows_missing_values = big_data[big_data.isnull().any(axis=1)]
print(rows_missing_values.head())

# get the total number of rows
total_rows = len(big_data)
missing_pct = (missing_values_count/total_rows) * 100
print(f'\nTotal rows: {total_rows}')
print(f'\nMissing Percentage: \n{missing_pct}')

duration       0
country        0
song        1276
artist      1276
album       1276
date           0
time           0
dtype: int64
      duration country song artist album        date      time
8078    222249      MY  NaN    NaN   NaN  2015-02-26  02:18:04
8146    140669      MY  NaN    NaN   NaN  2015-02-27  14:32:32
8164    249573      MY  NaN    NaN   NaN  2015-02-28  10:10:24
8216    242912      MY  NaN    NaN   NaN  2015-03-02  02:40:57
8217    242912      MY  NaN    NaN   NaN  2015-03-02  02:45:00

Total rows: 84288

Missing Percentage:
duration    0.000000
country     0.000000
song        1.513857
artist      1.513857
album       1.513857
date        0.000000
time        0.000000
dtype: float64

In [26]:
# # fill missing values with 'unknown'
# big_data['song'] = big_data['song'].fillna('Unknown Song')
# big_data['artist'] = big_data['artist'].fillna('Unknown Artist')
# big_data['album'] = big_data['album'].fillna('Unknown Album')

# # save cleaned df to a new csv file
# big_data.to_csv('./Dataset/big_data2.csv')

# check the new data for missing values
# All good!
big_data2.isnull().sum()

Unnamed: 0    0
duration      0
country       0
song          0
artist        0
album         0
date          0
time          0
dtype: int64

In [24]:
# check for duplicates 
big_data.duplicated().sum()

241

In [8]:
# count unique values
big_data['country'].value_counts()

country
MY    44143
AU    37035
ID      669
TH      643
AE      609
FR      589
TR      149
DE      134
IT      103
CZ       86
HU       52
IN       47
BG       16
RO       12
SG        1
Name: count, dtype: int64

**Unique values for countries**
- These are the country codes and their full names based on the ISO 3166-1 alpha-2 standard
    - MY: Malaysia
    - AU: Australia
    - ID: Indonesia
    - TH: Thailand
    - AE: United Arab Emirates
    - FR: France
    - TR: Turkey
    - DE: Germany
    - IT: Italy
    - CZ: Czech Republic
    - HU: Hungary
    - IN: India
    - BG: Bulgaria
    - RO: Romania
    - SG: Singapore

In [9]:
big_data['artist'].value_counts()

artist
Yuna              4528
Beyonc√©           3495
Queen             2794
Rihanna           1772
Eminem            1514
                  ...
Asiahn               1
Curtis Stigers       1
Regard               1
Alex Skrindo         1
Fahimi               1
Name: count, Length: 2793, dtype: int64

In [10]:
big_data['song'].value_counts()

song
How Deep Is Your Love     614
Thinking out Loud         565
Come Away With Me         454
Try                       422
Issues                    393
                         ...
Our Lips Are Sealed         1
Keep On                     1
International Smile         1
Mama Said (Rerecorded)      1
Angau                       1
Name: count, Length: 8394, dtype: int64