* Data types are the classification of the data you are storing
* It tells you what operations can be performed on your data
* Main data type:
    1) numeric
    2) sequence type
    3) Set
    4) Boolean
    5) Dictionary

**NUMERIC**
- There are 3 different types:
    1) Integers --> whole numbers (-ve or +ve)
    2) Floats --> decimal numbers
    3) Complex Numbers

In [4]:
x = type(22)
y = type(-100)
z = type(-4 + 8)
print(x, y, z)

<class 'int'> <class 'int'> <class 'int'>

In [10]:
a = type (22.5)
x = 3j
b = type (22 + x)
print(a)
print(f'This is a complex number {b}')

<class 'float'>
This is a complex number <class 'complex'>

**Boolean**
- It only has 2 data types = True or False
- we can use this in comparison operators

In [11]:
type (False)

bool

In [12]:
22 > 30

False

In [13]:
100 < 1000

True

**Strings**
- it's representing unicode characters
- single & double quotes
- triple quotes (multi lines)

In [16]:
my_Haiku = '''
Golden grains whisper,
In fields where sunlight dances,
Harvest feeds the world.
'''

print(my_Haiku)
print(type(my_Haiku))

Golden grains whisper,
In fields where sunlight dances,
Harvest feeds the world.

<class 'str'>

**Index**
- it's a method used to find the position of an elements in a list, string o other iterables
- in a string, this method can be used to find the position of a substring

In [23]:
greeting = 'Hello World'
print(greeting[:5])
print(greeting[10])
print(greeting[-2])
print(greeting[0:4])

greeting * 5
greeting + greeting

Hello
d
l
Hell

'Hello WorldHello World'

**Lists**
- It can store multiple separate values
- Lists use bracket signs [  ]
- It's indexed the same way as string 
- We don't have to use quotes for strings values
- But we do for numbers
- several data types can exist in one list
- it's changeable

In [39]:
# numbers
senarai = [7, 8, 9]
print(senarai[0])
print(senarai[1])
print(senarai[2])

# strings
haiwan = ['ayam', 'lembu', 'kucing']
print(haiwan[2])
print(haiwan[1])
print(haiwan[0])

# mixed data types
campur =['BLUE', 22, ['ayam', 'kucing'], False]
print(campur)

#it's changeable - use append to add number at the end 
senarai = [7, 8, 9]
senarai.append('10')
print(senarai)

# use index to change item in a specific position
haiwan = ['ayam', 'lembu', 'kucing']
haiwan [2] = 'itik'
print(haiwan)

#nested lists
campur =['BLUE', 22, ['ayam', 'kucing'], False]
print(campur[1])
print(f'This item is in the third position in the list, first inside nested list: {campur[2][0]}')

7
8
9
kucing
lembu
ayam
['BLUE', 22, ['ayam', 'kucing'], False]
[7, 8, 9, '10']
['ayam', 'lembu', 'itik']
22
This item is in the third position in the list, first inside nested list: ayam

**TUPLES**
- It is kind of similar to list but it's immutable 
- cannot modify or change
- it's also using bracket signs / parentheses

In [42]:
tuples = (1, 2, 3, 4, 5)
print(type(tuples))
print(tuples[2])

<class 'tuple'>
3

**SETS**
- it represents data type that represents an UNORDERED collection of unique elements
- it does not allow duplicates
- We cannot access its index point
- mutable ---> we change elements from a set after it's created
- it's using curly braces { }

In [51]:
nombor = {1, 2, 3, 4, 5}
print(type(nombor))
print(nombor)

nombor_set = {1,1,2,1,2,4,5,4,3,3,5}
nombor_set2 = {33, 56, 82, 49, 33, 33, 49, 56, 100}
print(f'Only UNIQUE values will be printed out: {nombor_set}')

# we can combine two sets of sets but it will only pickup unique values
print(nombor_set | nombor_set2)

# but if we use ampersand (&) it will only grab what BOTH sets have
print(f'Nothing is printed out bcs nothing matches lol: {nombor_set & nombor_set2}')

<class 'set'>
{1, 2, 3, 4, 5}
Only UNIQUE values will be printed out: {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 33, 100, 49, 82, 56}
Nothing is printed out bcs nothing matches lol: set()

**Dictionries**
- it stores data as key-value pairs
- in other programming language, it's called associative arrays or hash maps
- it's unordered
- it's mutable ---> can change
- it has unique keys
- it uses squiggly brackets {  }

In [59]:
dict_weather= {
    'temperatures': '32°C',
    'humidity' : '85%',
    'condition' : 'partly cloudy',
    'wind_speed': '15 km/h',
    'chance of rain': '40%',
    'hourly_forecast': [
        {'time': '8pm', 'temp' :'32°C'},
        {'time': '9pm', 'temp' :'29°C'},
        {'time': '10pm', 'temp' :'27°C'}
    ]
}

print(type(dict_weather))
print(dict_weather)

#we call dictionaries by its keys
print(dict_weather['chance of rain'])

<class 'dict'>
{'temperatures': '32°C', 'humidity': '85%', 'condition': 'partly cloudy', 'wind_speed': '15 km/h', 'chance of rain': '40%', 'hourly_forecast': [{'time': '8pm', 'temp': '32°C'}, {'time': '9pm', 'temp': '29°C'}, {'time': '10pm', 'temp': '27°C'}]}


40%

# Converting Data Types

In [3]:
num_int = 22
type(num_int)

int

In [4]:
num_str = '22'
type(num_str)

str

In [6]:
num_str_conv = int(num_str)
type(num_str_conv)

int

In [7]:
jumlah = num_int + num_str_conv
print(jumlah)

44

**Convert Lists, Sets and Tuples**

In [8]:
list_type = [1, 2, 3, 4, 5]
type(list_type)

list

In [9]:
#convert list to tuple
type(tuple(list_type))

tuple

In [16]:
#convert sets to list
# remember sets will only allow you to grab unique values

list_type = [1, 2, 3, 2, 2, 2, 4, 1, 5, 2, 2, 3]
print(type(list_type))

conv_list_set = set(list_type)
print(f'Lists converted to set: {conv_list_set}')

<class 'list'>
Lists converted to set: {1, 2, 3, 4, 5}

**Converting dictionaries**

In [20]:
dict_type = {'name': 'Asyikin', 'age': 20, 'height': '5ft'}
print(type(dict_type))
print(dict_type.items())
print(dict_type.values())
print(dict_type.keys())

<class 'dict'>
dict_items([('name', 'Asyikin'), ('age', 20), ('height', '5ft')])
dict_values(['Asyikin', 20, '5ft'])
dict_keys(['name', 'age', 'height'])

In [22]:
#convert dict to lists
print(list(dict_type.keys()))
print(list(dict_type.values()))

['name', 'age', 'height']
['Asyikin', 20, '5ft']

**Convert strings to lists**

In [23]:
str_panjang = 'I love to sleep'
list(str_panjang)

['I', ' ', 'l', 'o', 'v', 'e', ' ', 't', 'o', ' ', 's', 'l', 'e', 'e', 'p']

In [24]:
str_panjang = 'I love to sleep'
set(str_panjang)

{' ', 'I', 'e', 'l', 'o', 'p', 's', 't', 'v'}