# Chloropleth Maps with go.Chloropeth

* For this kind of map we dont need to know the exact coordinates of the location, we need geographical boundary information
    - it's provided in GeoJSON file or a shapefile whcih contains geographic shapes of the areas

* Gegographical Boundaries - GeoJSON file
    - It's a file that format that encodes a variety of geographic data structures
    - It includes polygons for each geographic unit which outline the boundaries of states/regions

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

state = pd.read_excel(r"C:\Users\ASYIKIN\OneDrive\Desktop\PYTHON FOR DATA ANALYSIS\PROJECTS\Population\Dataset_pop\States_pop.xlsx")

state.head(3)

,Year,Johor,Kedah,Kelantan,Melaka,N_9,Pahang,Penang,Perak,Perlis,Selangor,T'ganu,Sabah,Sarawak,KL
0,1980,1646.2,1119.9,895.7,466.9,576.7,802.1,960.7,1807.4,148.7,1524.1,541.7,1055.1,1351.1,982.9
1,1981,1689.3,1140.2,920.5,472.6,587.2,820.6,975.4,1838.2,151.6,1594.6,560.8,1119.6,1380.2,1006.1
2,1982,1734.6,1161.8,947.1,478.7,598.9,842.3,990.9,1866.8,154.9,1668.3,581.4,1186.5,1410.4,1028.5

In [4]:
state.columns

Index(['Year', 'Johor', 'Kedah', 'Kelantan', 'Melaka', 'N_9', 'Pahang',
       'Penang', 'Perak', 'Perlis', 'Selangor', 'T'ganu', 'Sabah', 'Sarawak',
       'KL'],
      dtype='object')

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(data=go.Choropleth(
    locations=state['']
)
)