# Reading & Writing Data 

**Text and Binary data loading functions in pandas**
- https://wesmckinney.com/book/accessing-data#tbl-table_parsing_functions

- optional arguments for those functions:
    * indexing
    * type inference and data conversion
    * date and time parsing
    * iterating
    * unclean data issues

In [1]:
#csv text file
import pandas as pd

df = pd.read_csv("examples/contoh1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
# csv file - no header
df = pd.read_csv("examples/contoh2.csv", header=None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [8]:
# csv file - assing header
df_assign_header= pd.read_csv("examples/contoh2.csv", names=["satu", "dua", "tiga", "strings"])
df_assign_header

   satu  dua  tiga strings
1     2    3     4   hello
5     6    7     8   world
9    10   11    12     foo

In [15]:
# asssign index as column
names = ["satu", "dua", "tiga","empat", "message"]

df = pd.read_csv("examples/contoh2.csv", names=names, index_col="message")

df

         satu  dua  tiga  empat
message
hello       1    2     3      4
world       5    6     7      8
foo         9   10    11     12